body {
    font-family: Abadi, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f2f2f2;
}
 
.container {
    max-width: 350px;
    margin: auto;
    padding: 20px;
    border: 8px solid #a10a0a;
    border-radius: 10px;
    box-shadow: 4px 9px 11px rgba(15, 12, 156, 0.37);
    background-color: #ffffff;
}
 
input,
select,
button {
    width: 90%;
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
}
 
input:focus,
select:focus {
    outline: 2px solid #4A90E2;
}
 
button:hover {
    background-color: #a10a0a;
    color: white;
    cursor: pointer;
}